test_files/tabby_10_files/gt/.~lock*
test_files/tabby_10_files/xlsx/.~lock*
test_files/tabby_small_file/gt/tabby/.~lock*
test_files/tabby_2_files/gt/.~lock*
test_files/tabby_2_files/gt/tabbyxl/.~lock*
test_files/tabby_2_files/xlsx/.~lock.*

